<div id='team-page' class='pages'>
  <% if @users.present? %>
      <div class="row">
        <% @users.each do |user| %>
            <% next if user.new? %>
            <div class="user span text-center">
              <a href="team/<%= user.id %>">
                <div class="user-pic">
                  <div>
                    <%= image_tag user.picture :medium %>
                    <div class="user-name text-center">
                      <h4><%= "#{user.first_name + ' ' + user.last_name}" %></h4>
                      <h5><%= "#{user.title}" %></h5>
                    </div>
                  </div>
                </div>
              </a>
            </div>
        <% end %>
      </div>
  <% else %>
      <div class="well text-center">There are no team members yet. Coming soon...</div>
  <% end %>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.user-pic').hover(function () {
            $(this).find('.user-name').toggle();
        })
    })
</script>