<footer>
  <div class="row">
    <div class="span6">
      <nav>
        <%= link_to '', root_path, class: 'social facebook' %>
        <%= link_to '', root_path, class: 'social vk' %>
      </nav>
    </div>
    <div class="span6 pull-right">
      <p class="muted text-right"><%= @address %>, Tel: <%= @phone %></p>
    </div>
  </div>
</footer>
