<footer>
  <nav>
    <a target="_blank" href="http://www.facebook.com/pages/Sassoon-Global/114809261947333"><img src="http://media.sassoon.com/images/f.jpg" alt="Facebook"></a>
    <a target="_blank" href="http://www.youtube.com/user/sassoonglobal"><img src="http://media.sassoon.com/images/y.jpg" alt="Youtube"></a>
    <a target="_blank" href="#" id="twitter_icon" onmouseover="Showtwitpop()" onmouseout="Hidetwitpop()" onfocus="Showtwitpop()" onblur="Hidetwitpop()">
      <img src="http://media.sassoon.com/images/t.jpg" alt="Twitter">
    </a>
    <p>74 Broadway Market, London, E8 4QJ, Tel +44(0)20 3417 6411</p>
  </nav>
</footer>
