<footer>
  <div class="row">
    <div class="span2">
      <nav>
        <%= link_to '', root_path, class: 'social facebook' %>
        <%= link_to '', root_path, class: 'social vk' %>
      </nav>
    </div>
    <div class="span6">
      <p>74 Broadway Market, Kiev, E8 4QJ, Tel +38(0)44 3417 641</p>
    </div>
    <div class="span2">

    </div>
  </div>
</footer>
