<ul class="thumbnails">
    <li class="span5 salon-pic">
      <%= image_tag('about.jpg', class: 'thumbnail', alt: '370x400') %>
    </li>
    <div class="span4">
      <div class="caption">
        <div class="page-header text-center">
          <h1><small>Салон</small></h1>
        </div>
        <p>Добро пожаловать на Фабрику Красоты BACKSTAGE!
          Во все времена и во всех уголках земного шара мужчины и женщины  хотели выглядеть красивыми
          и для этого использовали самые разнообразные способы и средства.
          Индустрия красоты является одной из самых актуальных и прибыльных отраслей,
          при этом данный бизнес является творческим, человеческим, направленным дарить всем желающим
          возможность стать красивыми, стильными.
          Главная задача каждого студента академии Вackstage – раскрыть индивидуальную красоту посетителя
          наших салонов.
          Профессионалы, творящие в Индустрии красоты, являются самыми настоящими хирургами, только без скальпеля.
          Многочисленные опросы показывают, что мужчины и женщины пришли к единому выводу:
          домашний косметический уход не идёт ни в какое сравнение с посещением салона, в котором посетители
          не только экономят своё время и силы,
          но и подзаряжаются положительными эмоциями от общения с мастерами красоты.</p>
      </div>
    </div>
    <div class="span3">
        <div class="caption">
          <p>Спрос на оказание услуг по красоте и имиджу очень высок, а значит, вы всегда будете в
            прибыли.
            Если Вы выбрали данную сферу деятельности и обратились к нам, чтобы получить
            качественное и лучшее образование, Вы сделали правильный выбор!
            Наша компания предлагает  Вам собрать сливки всех знаний в Индустрии красоты.
            Команда преподавателей состоит из опытных, практикующих, креативных, идущих в ногу
            с будущим, молодых, преподавателей.
            Мы, команда профессионалов, долго шли к открытию своей новаторской школы красоты.
            Это наше Детище, которое вынашивали все, кто сейчас работает у нас. Мы получили
            классическое образование в индустрии красоты, накапливали опыт, работая много лет
            мастерами в элитных салонах, совершенствовались, и вот мы созрели для того, чтобы
            поделиться своими знаниями и опытом со всеми желающими приобщиться к Индустрии
            Красоты.</p>
        </div>
    </div>
</ul>
