<div id="contact-page" class="pages">
  <div class="hero-unit">
    <div class="row">
      <div class="span8">
        <h3 class="dark-grey">Карта проезда</h3>

        <div id="map-canvas" class="shadow-effect" style="height: 100%; width: 100%;">
          <img src="http://maps.googleapis.com/maps/api/staticmap?center=50.45625,30.62649&zoom=16&size=640x480&scale=2&sensor=true&markers=color:blue%7Clabel:A%7C50.45625,30.62649">
        </div>
      </div>
      <div class="span3">
        <h3 class="dark-grey">Адрес</h3>
        <address>
          <%= @address %>
        </address>
        <h3 class="dark-grey">Телефоны</h3>
        <address>
          <abbr title="Phone">Tel:</abbr> <a href="tel:+380637874985"><%= @phone %></a><br>
        </address>
        <h3 class="dark-grey">Эл. почта</h3>
        <address>
          <a href="mailto:backstage@gmail.com">backstage@gmail.com</a>
        </address>
      </div>
    </div>
  </div>
</div>