<div id='index-page' class='pages'>
  <div id='home-show'>
    <%= image_tag('homepage1.jpg', id: 'show-pic1', class: 'show-pic active') %>
    <%= image_tag('homepage2.jpg', id: 'show-pic2', class: 'show-pic') %>
    <%= image_tag('homepage3.jpg', id: 'show-pic3', class: 'show-pic') %>
    <%= image_tag('homepage4.jpg', id: 'show-pic4', class: 'show-pic') %>
  </div>
</div>