<ul class="thumbnails">
  <li class="span8">
    <%= image_tag('opening.jpg', class: 'thumbnail', alt: '620x400') %>
  </li>
  <div class="span4">
    <div class="caption">
      <div class="page-header text-center">
        <h1><small>Рабочие часы</small></h1>
      </div>
      <% @opening.each do |o| %>
          <h5>
            <%= o.opening_day %>:
            <span class="pull-right">
                <%= o.opening_from.present? ? o.opening_from + '-' + o.opening_to : 'Выходной' %>
            </span>
          </h5>
      <% end %>
    </div>
    <%#= link_to 'Редактировать', opening_edit_path, class: 'btn' %>
  </div>
</ul>