<div id='opening-page' class='pages'>
  <div class="hero-unit">
    <ul class="thumbnails">
      <li class="span7 thumbnail">
        <%= image_tag('opening.jpg') %>
      </li>
      <div class="span4">
        <h3 class="text-center">Рабочие часы</h3>
        <% @opening.each do |o| %>
          <h5>
            <%= o.opening_day %>:
        <span class="pull-right">
            <%= o.opening_from.present? ? o.opening_from + '-' + o.opening_to : 'Выходной' %>
        </span>
          </h5>
        <% end %>
      </div>
    </ul>
  </div>
</div>