<div class="page-header">
  <h1><small>Список курсов</small></h1>
</div>
<% @courses.each do |course| %>
    <div class="hero-unit">
      <h3><%= link_to course.name, course %></h3>
      <p><%= truncate(course.description, length: 500, separator: ' ') %></p>
      <p>
        <%= link_to 'Подробнее', course, class: 'btn btn-large' %>
      </p>
    </div>
<% end %>
