<div id="courses-page">
  <div class="row-fluid">
    <div class="span12">
      <% @courses.each do |course| %>
          <div class="hero-unit">
            <h3><%= link_to course.name, course %></h3>
            <hr>
            <% if course.description.present? %>
                <% description = sanitize course.description, :tags => %w() %>
                <% description = description.gsub(/[&amp;&nbsp;]/i,'') %>
                <% if course.picture.present? %>
                    <ul class="thumbnails">
                      <li class="thumbnail">
                        <!-- Image tag -->
                      </li>
                      <p><%= description.truncate(700) %></p>
                    </ul>
                <% else %>
                    <p><%= description.truncate(700) %></p>
                <% end %>
            <% end %>
            <%= link_to 'Подробнее', course, class: 'btn btn-large' %>
          </div>
      <% end %>
    </div>
  </div>
</div>
