/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.core
 *= require_tree .
 */

@mixin transitions-200 {
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

@mixin opacity-transition {
  -webkit-transition: opacity .2s linear;
  -moz-transition: opacity .2s linear;
  -o-transition: opacity .2s linear;
  transition: opacity .2s linear;
}

$dark-grey: #5a5a5a;
//$pink: #ffb3ff;
$pink: #FF5E99;
$purple: #d708f0;

.dark-grey{
  color: $dark-grey;
}

.pink{
  color: $pink;
}

.purple{
  color: $purple;
}

.bg-white{
  background-color: #ffffff;
}

.bg-black{
  background-color: #000000;
}

.bg-purple{
  background-color: $purple;
}

.bg-pink{
  background-color: $pink;
}

.bg-dark-grey{
  background-color: $dark-grey;
}

::selection {   /* Safari */
  background: $pink;
  color: #fff;
  text-shadow: none;
}
::-moz-selection {  /* Firefox */
  background: $pink;
  color: #fff;
  text-shadow: none;
}

body{
  li{
    list-style-type: none;
  }
  header{
    #logo{
      margin-bottom: 20px;
      text-align: center;
      a{
        height: 230px;
        width: 500px;
      }
      img{
        @include transitions-200;
        filter: grayscale(100%);
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        filter: grayscale(100%);
        margin: 0 auto;
        height: 230px;
        width: 500px;
      }
    }
    #logo a:hover{
      img{
        filter: grayscale(0%);
        -webkit-filter: grayscale(0%);
        -moz-filter: grayscale(0%);
        filter: grayscale(0%);
      }
    }

    #nav{
      border-top: 3px solid $dark-grey;
      border-bottom: 3px solid $dark-grey;
      position: relative;
      text-align: center;
      padding: 6px 0;
      a{
        @include transitions-200;
        text-transform: uppercase;
        //height: 20px;
        padding: 10px 25px;
        position: relative;
      }
      a:hover, a.active{
        //background-color: $pink;
        background-color: $dark-grey;
        color: white;
        opacity: 0.9;
      }
      #nav-courses{
        display: none;
        margin: 0;
        //background-color: $pink;
        background-color: $dark-grey;
        position: absolute;
        z-index: 10;
        width: 290px;
        padding: 20px 0;
        left: 0px;
        top: 34px;
        opacity: 0.9;
        a{
          color: white;
          display: block;
          padding: 0 20px;
          text-align: left;
          text-transform: none;
        }
        a:hover{
          color:black;
          background-color:white;
        }
      }
    }
  }

  .content {
    //background-color: #eee;
    padding: 20px;
    margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
    //-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    //-moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    //box-shadow: 0 1px 2px rgba(0,0,0,.15);
    min-height: 400px;
  }
  a{
    color: #afafaf;
    font-weight: bold;
  }
  a:hover{
    color: #000;
    text-decoration: none;
  }
  p{
    text-align: justify;
  }

  footer{
    @include transitions-200;
    border-top: 3px solid $dark-grey;
    border-bottom: 3px solid $dark-grey;
    margin-bottom: 20px;
    padding-top: 5px;
    nav{
      height: 35px;
      a{
        margin-right: 10px;
      }
    }
    .social{
      background: asset-url('social.png') no-repeat;
      background-size: 850%;
      display: inline-block;
      width: 30px;
      height: 30px;
      filter: grayscale(100%);
      -webkit-filter: grayscale(100%);
      -moz-filter: grayscale(100%);
      filter: grayscale(100%);
    }
    .social:hover{
      filter: grayscale(0%);
      -webkit-filter: grayscale(0%);
      -moz-filter: grayscale(0%);
      filter: grayscale(0%);
    }
    .social.facebook{
      background-position: 93.5% 8%;
    }
    .social.vk{
      background-position: 41.5% 8%;
    }
  }
}
