/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.core
 *= require_tree .
 */

@mixin transitions-200 {
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

@mixin opacity-transition {
  -webkit-transition: opacity .2s linear;
  -moz-transition: opacity .2s linear;
  -o-transition: opacity .2s linear;
  transition: opacity .2s linear;
}

@mixin dropshadow {
  box-shadow: 0px 0px 20px -5px #000;
}

$dark-grey: #5a5a5a;
//$pink: #ffb3ff;
$red: #EE0000;
$pink: #FF5E99;
$purple: #d708f0;
$lux-brown: #874e00;
$lightblue: #C0DEED;
$colored-blue: #00a0d1;

#notice {
  background-color: #e1facf;
  border: solid #97C36d 1px;
  padding: 0.5em;
}

.dropshadow{
  @include dropshadow;
}

.dark-grey{
  color: $dark-grey;
}

.pink{
  color: $pink;
}

.purple{
  color: $purple;
}

.bg-white{
  background-color: #ffffff;
}

.bg-black{
  background-color: #000000;
}

.bg-purple{
  background-color: $purple;
}

.bg-pink{
  background-color: $pink;
}

.bg-dark-grey{
  background-color: $dark-grey;
}

::selection {   /* Safari */
  background: black;
  color: #fff;
  text-shadow: none;
}
::-moz-selection {  /* Firefox */
  background: $pink;
  color: #fff;
  text-shadow: none;
}

body{
  padding: 0 !important;
  li{
    list-style-type: none;
  }
  header.hidden-desktop{
    .navbar{
      border-bottom: 3px solid $red;
      padding-bottom: 10px;
    }
  }
  header{
    #logo{
      //margin-bottom: 20px;
      text-align: center;
      a{
        height: 230px;
        width: 500px;
      }
      img{
        //@include transitions-200;
        //filter: grayscale(100%);
        //-webkit-filter: grayscale(100%);
        //-moz-filter: grayscale(100%);
        //filter: grayscale(100%);
        //margin: 0 auto;
        //height: 230px;
        //width: 500px;
      }
    }
    #logo a:hover{
      img{
        //filter: grayscale(0%);
        //-webkit-filter: grayscale(0%);
        //-moz-filter: grayscale(0%);
        //filter: grayscale(0%);
      }
    }

    #nav{
      border-top: 2px solid black;
      border-bottom: 2px solid black;
      height: 35px;
      width: 100%;
      letter-spacing: 1px;
      a{
        font-weight: normal;
      }
      li{
        //height: 35px;
        //width: 14.2857142857%;
        width: 12.5%;
        float: left;
        position: relative;
        text-align: center;
        a{
          color: black;
          padding: 9px 0;
          margin: -2px 0;
          //@include transitions-200;
          //-webkit-perspective: 1000;
          //-webkit-backface-visibility: hidden;
          display: block;
          height: 21px;
          text-transform: uppercase;
          //font-style: italic;
        }
        a:hover, a.active{
          //background-color: $pink;
          background-color: $red;
          color: white;
          opacity: 0.9;
        }
      }
      #nav-courses, #nav-hairstyle{
        display: none;
        margin: 0;
        //background-color: $pink;
        background-color: $red;
        position: absolute;
        z-index: 10;
        width: 230px;
        padding: 10px 0;
        left: 0px;
        top: 35px;
        opacity: 0.9;
        a{
          color: white;
          display: block;
          padding: 5px 20px;
          text-align: left;
          text-transform: none;
          height: auto;
        }
        a:hover{
          color:black;
          background-color:white;
        }
      }
    }
  }

  .content {
    //background-color: #eee;
    padding: 20px;
    margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
    //-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    //-moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    //box-shadow: 0 1px 2px rgba(0,0,0,.15);
    min-height: 400px;
  }
  a{
    color: black;
  }
  a:hover{
    color: $red;
    text-decoration: none;
  }
  p{
    text-align: justify;
  }

  footer{
    @include transitions-200;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin-bottom: 20px;
    padding-top: 5px;
    nav{
      height: 35px;
      a{
        margin-right: 10px;
      }
    }
    .social{
      background: asset-url('social.png') no-repeat;
      background-size: 850%;
      display: inline-block;
      width: 30px;
      height: 30px;
      filter: grayscale(100%);
      -webkit-filter: grayscale(100%);
      -moz-filter: grayscale(100%);
      filter: grayscale(100%);
    }
    .social:hover{
      filter: grayscale(0%);
      -webkit-filter: grayscale(0%);
      -moz-filter: grayscale(0%);
      filter: grayscale(0%);
    }
    .social.facebook{
      background-position: 93.5% 8%;
    }
    .social.vk{
      background-position: 41.5% 8%;
    }
    .devref a{
      color: black;
    }
    .devref a:hover{
      color: $red;
    }
  }
}
