#team-page{
  .span3:first-of-type{
    margin-left: 0;
  }
  .user-pic{
    position: relative;
    img{
      width: 220px;
    }
  }
  .user-name{
    display: none;
    width: 100%;
    position: absolute;
    bottom: 0;
    color: white;
  }
}