#team-page{
  .user-pic{
    position: relative;
    margin-bottom: 20px;
    img{
      width: 270px;
    }
  }
  .user-name{
    display: none;
    position: absolute;
    bottom: 0;
    width: 270px;
    color: white;
    background-color: rgba(238, 238, 238, 0.25);
  }
}